<div class="">
  <div class="left-head">
    <h4>正确选项:A、B</h4>
  </div>
  <div class="left-echarts">
    <h4 class="echart-title">
      <span>选择人数最多的选项:A、C</span>
      <span class="margin-left">人数:30人</span>
    </h4>
    <div class="pie-show">
      <div echarts [options]="option" class="demo-sheet"></div>
    </div>
    <div class="echars-foot">
      <div class="foot-item">正答率：39%</div>
      <div class="foot-item">班级难度系数：0.6</div>
      <div class="foot-item">正答平均用时：2'39"</div>
      <div class="foot-item">全班平均用时：2'39"</div>
    </div>
  </div>
</div>
