<div class="note-taking" flex="dir:top">
<nz-layout>
  <nz-content>Content
    <div class="con">测试背景色</div>
  </nz-content>
  <nz-footer>
    <div class="footer">
      <div class="footer-left" flex="">
        <ul>
          <li>单分</li>
          <li>双分</li>
          <li>四分</li>
        </ul>
        <div class="lw-tpk-pc">
          <button nz-button [nzType]="'danger'">显示题干</button>
        </div>
      </div>
      <div class="footer-center" flex="">
        <span>2/10</span>
        <div class="prev">上一屏</div>
        <div class="next">下一屏</div>
      </div>
      <div class="footer-right" flex="">
        <div class="lw-tpk-pc">
          <button nz-button [nzType]="'danger'">结果统览</button>
          <button nz-button [nzType]="'default'">关闭</button>
        </div>
      </div>
    </div>

  </nz-footer>
</nz-layout>
</div>
