<div class="">
  <div class="left-head">
    <h4>满分:10分,答对人数:30人,答错人数:9人.</h4>
    <a routerLink="" class="red-font router-link">正确答案 ></a>
  </div>
  <div class="left-echarts">
    <h4 class="echart-title">
      <span>得分人数最多的分值:8分</span>
      <span class="margin-left">人数:30人</span>
    </h4>
    <div class="pie-show">
      <!--<div echarts [options]="option2" class="demo-sheet"></div>-->
      <div echarts [options]="option" class="demo-sheet"></div>
    </div>
    <div class="echars-foot">
      <div class="foot-item">正答率：39%</div>
      <div class="foot-item">班级难度系数：0.6</div>
      <div class="foot-item">正答平均用时：2'39"</div>
      <div class="foot-item">全班平均用时：2'39"</div>
    </div>
  </div>
</div>
