<div class="login-panel">
  <div class="login-forms">
    <div class="login-form">
      <div class="loginBg">
        <img src="../../../../assets/images/loginBg.png" alt="loginBg" title="loginBg">
      </div>
      <div class="input-container">
        <div class="input-panel">
          <i class="icon iconfont icon-cli-user"></i>
          <div class="input-border">
            <input type="text" placeholder="请输入用户名">
          </div>
        </div>
        <div class="input-panel">
          <i class="icon iconfont icon-cli-password"></i>
          <div class="input-border">
            <input type="text" placeholder="请输入密码">
          </div>
        </div>
      </div>
      <div class="login-footer">
        <div class="sure" (click)="loginClick()">登录</div>
        <div class="lin">临时用户</div>
      </div>
    </div>
  </div>
</div>

 <!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="validateForm.valid&&submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="userName" placeholder="Username">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入用户名!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-control>
       
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
       
      </nz-form-control>
    </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template> -->