<div class="content">
  <button aria-label="Close" class="close ng-star-inserted">
    <span class="close-x"></span>
  </button>
  <div class="title">
    学生管理
  </div>
  <div class="modal-content">
    <div class="sdkEditAdd">
      <form class="modal-content-form clearfix">
        <div class="form-item clearfix">
          <div class="contUl select">
            <nz-select nzAllowClear nzPlaceHolder="Choose">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
          </div>
          <div class="contUl search clearfix">
            <input type="text" placeholder="关键字" />
            <i class="icon iconfont icon-search"></i>
          </div>
        </div>
        <div class="form-item formx clearfix">
          <button type="button" class="footer-btn btn-cancel">
            添加学生
          </button>
          <button type="button" class="footer-btn btn-text">
            创建临时班级
          </button>
        </div>
      </form>
    </div>
    <div class="ImgBox">
      <ul>
        <li>
          <span class="Imgp">
            <img src="../../../../assets/images/na.png" alt="">
          </span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/na.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
        <li>
          <span class="Imgp"> <img src="../../../../assets/images/nv.png" alt=""></span>
          <span class="tel">校长</span>
        </li>
      </ul>
    </div>
  </div>
</div>
