@import "../../../../assets/scss/variable.scss";
@import "../../../../assets/scss/mixin.scss";
@import "../../../../assets/scss/coverAntd.scss";

// 已提交状态颜色
$submitStatus: rgb(2, 197, 131);
// 未提交状态颜色
$noSubmitStatus: rgb(153, 153, 153);

// 状态球
@mixin status-ball {
  content: " ";
  display: block;
  width: computer(10px);
  height: computer(10px);
  position: absolute;
  border-radius: 50%;
}

.subjective-problem-content {
  width: 100%;
  height: 100%;
  .subjective-top {
    height: computer(302px);
    background: rgb(59, 82, 83);
  }
  .answer-cont-lit{
      margin-top:27px;
  }
  .answer-cont-lit span{
      color:#ff7d55;
  }
  .inner-box{
      font-size: 30px;
      color:white;
      position: absolute;
    top: 29px;
    left: 27px;
  }
  .answer-cont p{
      position: relative;
      top:28px;
  }
  .answer-cont ul li{
      float: left;
      width: computer(220px);
      margin-top:computer(7px);
  }
  .subjective-bottom {
    background: #fff;
    .status-bar {
      padding: computer(19px) 0 computer(19px) 0;
      position: relative;
      .status-text {
        float: left;
        color: #333333;
        font-size: 16px;
      }
      .submit {
        margin-left: 46px;
        position: relative;
      }
      .submit::before {
        @include status-ball;
        background: $submitStatus;
        top: computer(8px);
        left: computer(-15px);
      }
      .no-submit {
        margin-left: 46px;
        position: relative;
      }
      .no-submit::before {
        @include status-ball;
        background: $noSubmitStatus;
        top: computer(8px);
        left: computer(-15px);
      }
      .doing {
        padding-left: 32px;
      }
      .close {
        cursor: pointer;
        border: 0;
        background: transparent;
        position: absolute;
        right: computer(20px);
        top: computer(20px);
        z-index: 10;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
        transition: color 0.3s ease;
        color: rgba(0, 0, 0, 0.43);
        outline: 0;
      }

      .close-x {
        display: block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        width: computer(16px);
        height: computer(16px);
        line-height: computer(16px);
        font-size: computer(16px);
      }

      .close-x:before {
        content: "\e633";
        display: block;
        font-family: "anticon" !important;
      }
    }
    .students-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 computer(14px);
        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: computer(19px) computer(16px);
          &.is-submit{
            .student-img::after {
              background: $submitStatus;
            }
            .student-name {
              color: $submitStatus;
            }
          }
          .student-img {
            width: computer(40px);
            height: computer(40px);
            background: #ccc;
            border-radius: 100%;
            position: relative;
            font-size:0;
            img {
              width: computer(40px);
              height: computer(40px);
              border-radius: 100%;
            }
          }
          .student-img::after {
            @include status-ball;
            background: $noSubmitStatus;
            top: computer(28px);
            right: 0;
          }
          .student-name {
            color: #333333;
            font-size: 14px;
            padding-top: computer(11px);
          }
        }
      }
    }
    nz-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #fff;
        text-align: center;
        height: computer(50px);
        padding: 0;
        line-height: computer(50px);
      
        .lw-tpk-pc {
          border-top: 1px solid $color_border;
          margin: 0 computer(20px);
      
          button {
            margin: 0 computer(10px);
          }
        }
      }
    .bottom-btn {
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid rgb(221, 221, 221);
      .btn {
        background: -webkit-linear-gradient(
          left,
          #feb85b,
          #ff8155
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          right,
          #feb85b,
          #ff8155
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          right,
          #feb85b,
          #ff8155
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(
          to right,
          #feb85b,
          #ff8155
        ); /* 标准的语法 */
        // -webkit-box-sizing: border-box;
        // box-sizing: border-box;
        margin-left: 20px;
        font-size: 14px;
        color: #fff;
        border-radius: 15px;
        width: 100px;
        height: 30px;
        cursor: pointer;
      }
      .result-preview {
      }
    }
  }
  .auto-scroll {
    overflow: auto;
    @include scroll-bar();
  }
}
